@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Apply font only to your main content */
section[data-testid="stAppViewContainer"] {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
    color: #163C40;
    padding: 20px;
}

.stApp {
    background-image: url('https://raw.githubusercontent.com/JasonlSmith14/healthy-blue/main/static/background.webp'),
    url('https://raw.githubusercontent.com/JasonlSmith14/healthy-blue/main/static/background2.webp'),
    url('https://raw.githubusercontent.com/JasonlSmith14/healthy-blue/main/static/background3.webp'),
    url('https://raw.githubusercontent.com/JasonlSmith14/healthy-blue/main/static/background4.webp');
    background-repeat: no-repeat;
    background-position: top left, top right, bottom left, bottom right;
    background-size: auto;
    height: 100vh;
}
