@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Apply font only to your main content */
section[data-testid="stAppViewContainer"] {
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
    color: #163C40;
    padding: 20px;
}

.stApp {
    background-image: url('https://raw.githubusercontent.com/JasonlSmith14/healthy-blue/main/static/background.PNG'); /* Correct raw path */
    /* background-size: contain;
    background-position: center;
    background-repeat: no-repeat; */
    height: 100vh;
}
