.stApp {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://raw.githubusercontent.com/JasonlSmith14/healthy-blue/main/static/upload.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}